body {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
main h1 {
    color: black;
    font-weight: normal;
    font-size: 2rem;

}
main p.act {
    color: #08f;
}
.cat {
    color: pink; 
}
h2, h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: lowercase;
}
footer p {
    color: #baa7ec;
    font-weight: bold;
}

    header { color: green; }
